# Ignore specific folders
.godot/
/android/
.Rproj.user/
.vs/

# Ignore imports
*.import

# Ignore R functionality files
.Rhistory
.RData

# Ignore C# functionality files
CSharp.sln

# Ignore project files
csharp.Rproj
CSharp.csproj
project.godot
/Output
Godot-UI-Project.Rproj
icon.svg

# Ignore input but not the csv
/Input/*
!Input/data.csv